body {
    padding: 0;
    margin: 0;
}

/*---------------------Colours---------------------------*/

.menu-bg {
    background-color: #FAFAFA;
}

.content-header {
    color: #000000;
}

.about-us-bg {
    background-color: #F2F2F2;
}

/*-------------------Navigation Menu---------------------*/

.logo {
    position: relative;
    max-width: 50px;
    margin: 3px 0 3px 3px;
}

.navbar {
    padding: 0;
    margin-top: 15px;
    float: right;
}

.navbar li {
    margin-right: 35px;
    list-style: none;
}

.navbar a {
    color: #3E4BB9;
    text-decoration: none;
}

.navbar li a:hover {
    color: #000000;
}

.navbar-fix {
    position: fixed;
    z-index: 1;
    width: 100vw;
    border-bottom: 1px solid #4e4e4e;
}

#mobile-navbar {
    display: none;
    visibility: hidden;
}

#btn-menu {
    background-color: #FAFAFA;
    border: 0;
    color: #000000;
    margin-top: 7px;
}

/*----------------Sad Animals Picture-----------*/

.carousel {
    width: 100%;
    border-bottom: 1px solid #4e4e4e;
}

.sadimg {
    margin-top: 50px;
    max-height: 900px;
    width: 100%;
}


/*----------------Content and Headers-----------*/

.content-header {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 25px;
    font-family: 'Gelasio', serif;
    font-weight: 300;
}

.fb-video {
    max-width: 100%;
    position: relative;
    display: block;
}

.about-us {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-top: 15px;
}

/*-------------------How We Help Cards-------------*/

.how-we-help {
    text-align: center;
    padding-top: 0px;
    position: relative;
}

.help-heading {
    font-family: 'Gelasio', serif;
    margin-top: 30px;
    padding: 0;
    padding-top: 5px;
}

.how-we-help p {
    text-align: center;
    margin-top: 20px;
    padding: 0 5px 5px 5px;
}

.card-row {
    width: 100vw;
}

.card-fg {
    background-color: rgba(255,255,255, 0.8);
    background-repeat: no-repeat;
    width: 40%;
    margin: auto;
    margin-top: 10%;
    border-radius: 10px;
}

.card-images {
    height: 420px;
    background-position: center;
    background-repeat: no-repeat;
}

#rehome {
    background-image: url(../images/rehoming.jpg);
}

#vet {
    background-image: url(../images/veterinary.jpg);
}

#education {
    background-image: url(../images/education.jpg);
}

#bereavement {
    background-image: url(../images/pet-bereavement.jpg);
}

/*-------------------Media Queries-----------------*/


@media (max-width:1650px) {
    .fb-video {
        margin-left: 30px;
    }

    .about-us {
        margin-top: 5px;
    }
}

@media (max-width:1500px) {
    .fb-video {
        margin-top: 20px;
        margin-left: -10px;
    }
}

@media (max-width:1200px) {

    .navbar {
        margin-right: 10px;
    }
    
    .about-us {
        text-align: center;
    }
}

@media (max-width:1024px) {
    
    .sadimg {
        margin-top: 10px;
    }

    .navbar-fix {
        width: 100%;
    }

    .content-header {
        margin-bottom: 0;
    }

    .card-fg {
    width: 90%;
    margin-top: 10%;
    }

    .card-row {
    width: auto;
    }

    .card-images {
        max-height: 300px;
        background-size: cover;
    }
}



@media (max-width:768px) {

    .navbar {
        margin-right: 0px;
    }

    .navbar li {
        margin-right: 15px;
    }

    .fb-video {
        margin-left: 0;
    }

    .navbar {
        display: none;
        visibility: hidden;
    }

    #mobile-navbar {
        display: inline;
        visibility: visible;
        float: right;
    }
}

/*-Mobile-*/

@media (max-width:568px) {

    #btn-menu {
        margin-top: 3px;
    }

    .logo {
        max-width: 35px;
        margin: 4px 0 4px 6px;
    }

    .navbar {
        margin-right: 10px;
    }

    .about-us {
        margin-top: -90px;
    }
}


@media (max-width:400px) {
    

    .navbar {
        margin-right: 3px;
    }

    .navbar li {
        margin: 0;
        border: 1px solid #000000;
    }
    
    .about-us {
        margin-top: -130px;
    }
}