body {
    padding: 0;
    margin: 0;
}

/*---------------------Colours---------------------------*/

.menu-bg {
    background-color: #FAFAFA;
}

.about-us-bg {
    background-color: #F2F2F2;
    padding-bottom: 20px;
}

/*-------------------Navigation Menu---------------------*/

.logo {
    position: relative;
    max-width: 50px;
    margin: 3px 0 3px 3px;
}

.navbar {
    padding: 0;
    margin-top: 15px;
    float: right;
}

.navbar li {
    margin-right: 35px;
    list-style: none;
}

.navbar a {
    color: #3E4BB9;
    text-decoration: none;
}

.navbar li a:hover {
    color: #000000;
}

.navbar-fix {
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
}

#mobile-navbar {
    display: none;
    visibility: hidden;
}

#btn-menu {
    background-color: #FAFAFA;
    border: 0;
    color: #000000;
    margin-top: 7px;
}

/*----------------Sad Animals Picture-----------*/

.carousel {
    width: 100%;
    border-bottom: 1px solid #4e4e4e;
}

.sadimg {
    margin-top: 50px;
    max-height: 1000px;
    width: 100%;
}


/*----------------About Us Section-----------*/

.content-header {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 25px;
    font-family: 'Gelasio', serif;
    font-weight: 300;
    color: #000000;
}

.fb-video {
    max-width: 100%;
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.about-us {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 115%;
    padding: 0 20px 0 20px;
    display: inline-block;
    border: 1px dotted #000000;
}

/*-------------------How We Help Cards-------------*/

.how-we-help {
    text-align: center;
    padding-top: 0px;
    position: relative;
}

.help-heading {
    font-family: 'Gelasio', serif;
    margin-top: 30px;
    padding: 0;
    padding-top: 5px;
}

.how-we-help p {
    text-align: center;
    margin-top: 10px;
    padding: 0 5px 5px 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
}

.card-row {
    width: auto;
}

.card-fg {
    background-color: rgba(255,255,255, 0.8);
    background-repeat: no-repeat;
    width: 60%;
    margin: auto;
    margin-top: 12%;
    border-radius: 10px;
}

.card-images {
    height: 420px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

#rehome {
    background-image: url(../images/rehoming.jpg);
}

#vet {
    background-image: url(../images/veterinary.jpg);
}

#education {
    background-image: url(../images/education.jpg);
}

#bereavement {
    background-image: url(../images/pet-bereavement.jpg);
}

/*-------------------Donate Section----------------*/

.donate-info {
    text-align: center;
    font-family: 'Gelasio', serif;
    font-weight: 400;
    font-size: 180%;
    padding: 30px 20px 30px 20px;
    background-color: #F2F2F2;
    border: 1px solid grey;
}

#donate-btn {
    width: 140px;
    height: 70px;
    font-size: 110%;
}

/*-------------------Contact Form------------------*/

.contact-section {
    text-align: center;
    font-family: 'Gelasio', serif;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-image: url(../images/pattern.jpg);
    background-repeat: repeat;
}

.contact-header {
    font-family: 'Roboro', sans-serif;
    margin-bottom: 15px;
}

.contact-form {
    margin: 0;
    padding: 20px 30px 10px 30px;
    border: 1px solid rgba(0, 0, 0, 0.3); 
    background-color: rgba(0,178,255, 0.10);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.contact-form label {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 120%;
    float: left;
}

.form-btn {
    background-color: #FAFAFA;
    font-family: 'Gelasio', serif;
    color: #000000;
    margin: 10px;
    width: 100px;
    height: 50px;
    font-weight: 300;
    font-size: 125%;
    border: 1px solid #000000;
}

/*-------------------Map section-------------------*/

.location {
    padding: 40px 0 30px 0;
    background-color: #F2F2F2;
}

.pre-map {
    padding: 10px 15px 40px 15px;
    font-family: 'Roboto', sans-serif;
}

.cities {
    width: auto;
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 10px 80px 0 10px;
    border-left: 1px dotted #000000;
}

.cities ul {
    padding-top: 5px;
}

.cities a {
    text-decoration-color: #000000;
}

.cities li {
    margin-top: 5px;
    font-family: 'Gelasio', serif;
    font-size: 90%;
    color: #000000;
}

.cities h4 {
    font-family: 'Roboto', sans-serif;
}

#map {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*-------------------Footer Section----------------*/

.tdm-stuff {
    font-size: 60%;
    width: 500px;
    height: 40px;
    margin: 5px 0 1px 5px;
    display: inline-block;
}

.footer-col {
    background-color: rgba(198, 238, 255, 0.3);
    padding: 0;
}

.footer-col a i {
    float: right;
    display: inline-block;
    font-size: 200%;
    color: #00B1FF;
    margin: 13px 10px 0 5px;
}

/*-------------------Media Queries-----------------*/

@media (min-width:1200px) {
    #map {
        margin-left: 60px;
    }
}

@media (max-width:1200px) {
    .about-us {
        text-align: center;
        border: none;
    }

    #map {
        width: 70%;
    }
}

@media (max-width:1080px) {
    .sadimg {
        margin-top: 10px;
    }

    .card-images {
        max-height: 300px;
        background-size: cover;
    }
    
    .card-fg {
        width: 70%;
        margin: 0;
        font-size: 90%;
    }

    .cities {
        padding: 0 0 0 10px;
    }
}



@media (max-width:768px) {
    .navbar {
        display: none;
        visibility: hidden;
    }

    #mobile-navbar {
        display: inline;
        visibility: visible;
        float: right;
    }

    .dropdown-menu {
        background-color: rgba(255, 255, 255, 0.8);
    }

    #donate-btn {
        width: 100px;
        height: 50px;
        font-size: 75%;
    }

    .tdm-stuff {
        width: 200px;
        padding: 4px 0 0 4px
    }

    .tdm-extra {
        display: none;
    }

    .contact-form {
        width: auto;
    }
}

/*-Mobile-*/

@media (max-width:568px) {

    .donate-info {
        font-size: 120%;
    }

    #btn-menu {
        margin-top: 3px;
    }

    .logo {
        max-width: 35px;
        margin: 4px 0 4px 6px;
    }

    .card-fg {
        width: 95%;
    }

    #donate-btn {
        font-size: 100%;
    }

    .form-btn {
        margin: 5px;
        padding: 0;
    }

    .about-us {
        margin-top: -9%;
    }

    #map {
        width: 90%;
    }

    .cities {
        border: none;
        padding-left: 20px;
        float: left;
    }
}


@media (max-width:450px) {  
    .how-we-help p {
        font-size: 100%;
    }

    .about-us {
        margin-top: -25%;
    }
}